/* .mynavbar{
    background-color: white;
}

.my-website{
    padding:0 3rem 0 3rem;
    margin-left: 10rem;
}
.my-navbar{
    padding-left: 3rem;
}*/

.menu_active {
  font-weight: bold;
  border-bottom: 2px solid #6c63ff;
}

.mynavbar {
  margin-right: 500px;
  font-size: 2rem;
  color: #4b42ff;
}
.options {
  padding: 0 20px 0 20px;
  color: #6c63ff;
}

.image {
  height: 300px;
  width: auto;
}
.courses {
  color: #565387;
}

.cnt {
  color: #565387;
}

.form-content {
  color: #565387;
  font-weight: bold;
}

.btnn {
  margin-top: 15px;
}

.ftr {
  padding: 50px 0 0 0;
}

#nav-toggle-button {
  color: gray;
}




@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img {
    text-align: centre;
  }
  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}
