

/* .mynavbar{
    background-color: white;
}

.my-website{
    padding:0 3rem 0 3rem;
    margin-left: 10rem;
}
.my-navbar{
    padding-left: 3rem;
}*/

.menu_active{
    font-weight:bold;
    border-bottom: 2px solid #6C63FF;
}

@media (max-width: 991px){
    .navbar-brand {
        font-size: 1rem;
    }
    .menu_active{
        font-weight:bold;
        border-bottom: none;
    }
} 

.mynavbar{
    margin-right:500px;
    font-size: 2rem;
    color:#4b42ff;
}
.options{
    padding: 0 20px 0 20px;
    color: #6C63FF;
   
}

.image{
    height:300px;
    width: auto;
}
.courses{
    color:#565387;

}

.cnt{
    color:#565387;

    
}

.form-content{
    color:#565387;
    font-weight: bold;
}

.btnn{
    margin-top:15px;
}

.ftr{
    padding:50px 0 0 0;
}


